<!-- dataset -->
<div class="flex flex-col items-center" id="<%= dom_id(quotation) %>">
  <div class="flex space-x-1 items-end">
    <!-- Real -->
    <div class="w-4 bg-green-500">
      <div style="height:<%= quotation.real.to_f * 10 %>px;"></div>
    </div>

    <!-- Us Dollar -->
    <div class="w-4 bg-red-500">
      <div style="height:<%= quotation.us_dollar.to_f * 10 %>px;"></div>
    </div>

    <!-- Australian Dollar -->
    <div class="w-4 bg-blue-500">
      <div style="height:<%= quotation.aus_dollar.to_f * 10 %>px;"></div>
    </div>

    <!-- Euro -->
    <div class="w-4 bg-purple-500">
      <div style="height:<%= quotation.euro.to_f * 10 %>px;"></div>
    </div>
  </div>
  <div class="text-center"><%= quotation.created_at.strftime('%Y-%m-%d %H:%M') %></div>
</div>
